{% extends "complaints/base-template.html" %}

{% block title %} COMPLAINTS /PETITIONS RETURNED : {{ category }} {% endblock %}
{% block heading %}COMPLAINTS /PETITIONS RETURNED : {{ category }}{% endblock %}
{% block panel-heading %} COMPLAINTS /PETITIONS RETURNED : {{ category }} {% endblock %}
{% block content %}
        {% load crispy_forms_tags %}
        {% crispy form form.helper %}

    <div class="table-responsive" style="margin-top: 15px;">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Sr. No</th>
                <th>Petition ID No</th>
                <th>ID Date</th>
                <th>Subject</th>
                <th>Petitioner's Name</th>
                <th>Dealing Section</th>
                <th>Category</th>
                <th>Returned Date</th>
                <th></th>
                <th></th>
                <!--<th></th>-->
            </tr>
            </thead>
            <tbody>
            {% for complaint in complaints %}
                <tr>
                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td>{{ complaint.petition_id_no }}</td>
                <td>{{ complaint.id_date | date:"d-M-Y" }}</td>
                <td>{{ complaint.subject }}</td>
                <td>{{ complaint.petitioner_name | capfirst }}</td>
                <td>{{ complaint.fwd_to.first_name }}</td>
                <td>{{ complaint.category }}</td>
                <td>{{ complaint.returned_date }}</td>
                <td><a class="button" href="{% url 'returned-detail' complaint.id %}">View Details</a></td>
                <td><a class="button" href="#popup{{ complaint.id  }}">Delete</a></td>
                </tr>
                <div id="popup{{ complaint.id  }}" class="overlay">
                    <div class="popup">
                        <h2>Info box</h2>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            <p>Are you sure you want to delete the Complaint.</p>
                            <p><a class="button" href="{% url 'complaint-delete' complaint.id %}?referrer={{ request.get_full_path | urlencode }}">Delete</a></p>
                        <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
