{% load custom_tags %}
<ul class="pagination" style="display: flex; justify-content: center;">
    <li>
        <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">First</a>
    </li>
    {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a>
        </li>
    {% else %}
        <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% with pagenumbers=page_obj.number|get_page_range:page_obj.paginator.num_pages %}
        {% for i in pagenumbers %}
            <!-- {{ i }}  -->
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li>
                    <a href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endwith %}
    <li></li>

    {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a>
        </li>
    {% else %}
        <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
    <li>
        <a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Last</a>
    </li>
</ul>